<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">
                    Change Password
                </h3>
            </div>
            <div class="card-body">
                <form class="form" #changePasswordForm="ngForm"  (ngSubmit)="changePassword(changePasswordForm)" novalidate>
                    
                    <div class="form-group">
                        <label for="">Old Password</label>
                        <input type="password"  class="form-control" #oPassword="ngModel" required pattern="^[a-zA-Z0-9]{5,15}$" name="oPassword"
                                [class.is-invalid]="oPassword.invalid && oPassword.touched" ngModel>
                        <div class="text-danger" *ngIf="oPassword.invalid && oPassword.touched">
                            <small *ngIf="oPassword.errors.required">Password is required</small>
                            <small *ngIf="oPassword.errors.pattern">Minimum length 5 character with no special symbol</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="password" class="form-control" #nPassword="ngModel" required pattern="^[a-zA-Z0-9]{5,15}$" name="nPassword"
                                [class.is-invalid]="nPassword.invalid && nPassword.touched" ngModel>
                        <div class="text-danger" *ngIf="nPassword.invalid && nPassword.touched">
                            <small *ngIf="nPassword.errors.required">Password is required</small>
                            <small *ngIf="nPassword.errors.pattern">Minimum length 5 character with no special symbol</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Confirm New Password</label>
                        <input type="password" class="form-control" required #nCPassword="ngModel" pattern="^{{nCPassword.value}}$" 
                                [class.is-invalid]="nCPassword.invalid && nCPassword.touched" name="nCPassword" ngModel>
                        <div class="text-danger" *ngIf="nCPassword.invalid && nCPassword.touched">
                            <small *ngIf="nCPassword.errors.required">Password is required</small>
                            <small *ngIf="nCPassword.errors.pattern">Password didn't match</small>
                        </div>
                    </div>
                    <button class="btn btn-primary float-right" type="submit" [disabled]="oPassword.invalid || nPassword.invalid || nCPassword.invalid ">Change</button>
                </form>
            </div>
        </div>
    </div>
</div>

