<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">
                    Forgot Password
                </h3>
            </div>
            <div class="card-body">
                <form class="form" #forgotPasswordForm="ngForm"  (ngSubmit)="forgotPassword(forgotPasswordForm)" novalidate>
                    
                    <div class="form-group">
                        <label for="">Username</label>
                        <input type="text" class="form-control" #username="ngModel" pattern="^[0-9]{10}@pec$" required name="username"
                                [class.is-invalid]="username.invalid && username.touched" ngModel>
                        <div class="text-danger" *ngIf="username.invalid && username.touched">
                            <small *ngIf="username.errors.required">Username is required</small>
                            <small *ngIf="username.errors.pattern">Contains 10 digits & ends with @pec</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <input type="tel"  class="form-control" #phone="ngModel" required pattern="^[6789]{1}[0-9]{9}$" name="phone"
                                [class.is-invalid]="phone.invalid && phone.touched" ngModel>
                        <div class="text-danger" *ngIf="phone.invalid && phone.touched">
                            <small *ngIf="phone.errors.required">Phone Number is required</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" class="form-control" #email="ngModel" required  name="email"
                                [class.is-invalid]="email.invalid && email.touched" ngModel>
                        <div class="text-danger" *ngIf="email.invalid && email.touched">
                            <small *ngIf="email.errors.required">Phone Number is required</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">New Password</label>
                        <input type="password" class="form-control" #nPassword="ngModel" required pattern="^[a-zA-Z0-9]{5,15}$" name="nPassword"
                                [class.is-invalid]="nPassword.invalid && nPassword.touched" ngModel>
                        <div class="text-danger" *ngIf="nPassword.invalid && nPassword.touched">
                            <small *ngIf="nPassword.errors.required">Password is required</small>
                            <small *ngIf="nPassword.errors.pattern">Minimum length 5 with no special character</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Confirm New Password</label>
                        <input type="password" class="form-control" required #nCPassword="ngModel" pattern="^{{nCPassword.value}}$" 
                                [class.is-invalid]="nCPassword.invalid && nCPassword.touched" name="nCPassword" ngModel>
                        <div class="text-danger" *ngIf="nCPassword.invalid && nCPassword.touched">
                            <small *ngIf="nCPassword.errors.required">Password is required</small>
                            <small *ngIf="nCPassword.errors.pattern">Password didn't match</small>
                        </div>
                    </div>
                    <button class="btn btn-primary float-right" type="submit" [disabled]="username.invalid || phone.invalid || email.invalid || nPassword.invalid || nCPassword.invalid ">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- <div style="text-align: center;">
    <br><h2> Forgot Password </h2><br>
</div>
<form #forgotPasswordForm="ngForm"  (ngSubmit)="forgotPassword(forgotPasswordForm)" novalidate>
<table class="table table-borderless" style="margin: auto;width: 50% !important; ">
    <tbody>
        <tr>
            <td scope="row">Enter Username </td>
            <td>
                <div class="form-group">
                    <input type="text" #username="ngModel" pattern="^[0-9]{10}@pec$" required name="username"
                    [class.is-invalid]="username.invalid && username.touched" class="form-control" ngModel>
                    <div class="text-danger" *ngIf="username.invalid && username.touched">
                        <small *ngIf="username.errors.required">Username is required</small>
                        <small *ngIf="username.errors.pattern">Username must contain atleast two letters</small>
                    </div>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">Enter PhoneNumber </td>
            <td>
                <div class="form-group">
                    <input type="tel" #phone="ngModel" required pattern="^[6789]{1}[0-9]{9}$" name="phone"
                    [class.is-invalid]="phone.invalid && phone.touched" class="form-control" ngModel>
                    <div class="text-danger" *ngIf="phone.invalid && phone.touched">
                        <small *ngIf="phone.errors.required">Phone Number is required</small>
                        <small *ngIf="phone.errors.pattern">must start with 6,7,8 or 9 and contains 10 digits</small>
                    </div>
                </div>
            </td>
          </tr>
          <tr>
            <td scope="row">Enter Email Id </td>
            <td>
                <div class="form-group">
                    <input type="email" #email="ngModel" required pattern="^[a-zA-Z0-9]{5,15}@gmail.com$" name="email"
                    [class.is-invalid]="email.invalid && email.touched" class="form-control" ngModel>
                    <div class="text-danger" *ngIf="email.invalid && email.touched">
                        <small *ngIf="email.errors.required">Phone Number is required</small>
                        <small *ngIf="email.errors.pattern">must start with 6,7,8 or 9 and contains 10 digits</small>
                    </div>
                </div>
            </td>
          </tr><tr>
        <td scope="row">Enter New Password </td>
        <td>
            <div class="form-group">
                <input type="password" #nPassword="ngModel" required pattern="^[a-zA-Z0-9]{5,15}$" name="nPassword"
                [class.is-invalid]="nPassword.invalid && nPassword.touched" class="form-control" ngModel>
                <div class="text-danger" *ngIf="nPassword.invalid && nPassword.touched">
                    <small *ngIf="nPassword.errors.required">Password is required</small>
                    <small *ngIf="nPassword.errors.pattern">do not contain any special character contains atleast 5 character</small>
                </div>
            </div>
        </td>
      </tr>
      <tr>
        <td scope="row">Confirm New Password </td>
        <td>
            <div class="form-group">
                <input type="password" required #nCPassword="ngModel" pattern="^{{nCPassword.value}}$" 
                [class.is-invalid]="nCPassword.invalid && nCPassword.touched"class="form-control"
                 name="nCPassword" ngModel>
                 <div class="text-danger" *ngIf="nCPassword.invalid && nCPassword.touched">
                    <small *ngIf="nCPassword.errors.required">Password is required</small>
                    <small *ngIf="nCPassword.errors.pattern">Password didn't match</small>
                </div>
            </div>
        </td>
      </tr>
      
      <tr>
        <td colspan="2" style="text-align:center;">
            <button class="btn btn-outline-success" type="submit" [disabled]="username.invalid || phone.invalid || email.invalid || nPassword.invalid || nCPassword.invalid ">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>
</form> -->
